// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// scss-docs-start color-variables
$blue:    #020710;
$indigo:  #0c0910;
$purple:  #050409;
$pink:    #0a0608;
$red:     #0a0708;
$orange:  #050504;
$yellow:  #090907;
$green:   #040504;
$teal:    #040505;
$cyan:    #020203;